<button id="scrollTopBtn" class="scroll-top"><i class="fa-solid fa-chevron-up" ></i></button>
<footer class="site-footer">
	<div
		class="footer-bg">
		{# <img src="{{ directory }}/images/footer-bg.png" alt="Footer background" class="footer-curve"> #}

		<div class="footer-content container">
			<div class="footer-text">
				<p>
					TERMOS DE USO | POLÍTICA DE PRIVACIDADE
				</p>
				<p>
					ESTE SITE É DESTINADO AO PÚBLICO EM GERAL. 																					
																								COPYRIGHT TAKEDA PHARMACEUTICAL COMPANY LIMITED. TODOS OS DIREITOS RESERVADOS.
				</p>
				<p>
					C-APROM/BR/RDBU/0001
				</p>
			</div>
            <button id="scrollTopBtn" class="scroll-top">&#8679;</button>
			<div class="footer-logo animate slide-up">
				<img src="{{ directory }}/images/logo-takeda-red.webp" alt="Takeda logo">
			</div>
		</div>
	</div>
</footer>
